.profile {
  width: 510px;
  margin: 70px auto 0;

  &-layout{
    display: grid;
    grid-template-columns: 64px 1fr;
  }

  &__avatar {
    display: flex;
    justify-content: center;

    &-wrapper {
      height: 130px;
      width: 130px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      &:hover {
        cursor: pointer;
      }
      
      &:hover:after {   
        position: absolute;
        content: "Поменять аватар";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 13px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00000076;
      }
    }
    
    &-img {
      position: relative;
      display: block;
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;

      &:after {  
        content: attr(alt);
        font-size: 16px;
        color: #CDCDCD;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #EFEFEF;
      }
    }
  }
  
  &__list {
    margin: 25px 0;

    &-item {
      border-bottom: 1px solid #EAEAEA;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;

      &:last-child {
        border-bottom-color: transparent;
      }
    }
    
    &-title {
      color: #1E1E1E;
      font-size: 13px;
      font-weight: 500;
    }
    
    &-value {
      color: #999;
      font-size: 13px;
      font-weight: 500;
    }
  }

  &__navbar {
    position: sticky;
    top: 0;
    background: #FBFBFB;
    border-right: 1px solid #EAEAEA;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    &-item {
      width: 28px;
      height: 28px;
      background: #3369F3;
      color:#FFFFFF;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &-link .material-symbols-outlined {
      font-size: 16px;
      line-height: 28px;
    }
  }
}
